<a href="https://colab.research.google.com/github/Sunishwa/Exploratory_Data_Analysis/blob/main/Exploratory_Data_Analysis_By_Sachin_Namdev.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    -

##### **Project Type**    - EDA/Regression/Classification/Unsupervised
##### **Contribution**    - Individual
##### **Name**            - Sachin Namdev

# **Project Summary -**

Airbnb, Inc. is an American San Francisco-based company operating an online marketplace for short- and long-term homestays and experiences. The company acts as a broker and charges a commission from each booking. The company was founded in 2008 by Brian Chesky, Nathan Blecharczyk, and Joe Gebbia. Airbnb is a shortened version of its original name, AirBedandBreakfast.com. The company is credited with revolutionizing the tourism industry, while also having been the subject of intense criticism by residents of tourism hotspot cities like Barcelona and Venice for enabling an unaffordable increase in home rents, and for a lack of regulation.

Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more.

# **GitHub Link -**

Provide your GitHub Link here.

# **Problem Statement**

We are Going to explore our dataset and tries to find out some of the below listed queries
1. How many columns are there in the dataset?

2. What are the datatypes of those columns?

3. How many data-points contain some null values? i.e. missing values

4. How to replace these missing values?
5. Where all availabilty we found and that's for ehoch neighbourhood group?
6. Which are the top neighbourhood groups that reviewed most?
7. Which stay has the highest price amoung the all?
8. Where most of the host focused tpo own propriety.

#### **Define Your Business Objective?**

Before discussing my Business objective let's understand how much these terminologies matter's not for me but for all so Business objectives are the specific, measurable results that companies hope to maintain as their organisation grows. When you create a set of business objectives, you focus on specifics. This means analysing, assessing, and understanding where you are now and where you want to be in the future, these five aspect matters alot as being a part of any organisation it's very import to analyse that what is the need of organisation to grow and access them to make that analyse true.

Now if we talk about my business objective, I can say that business always comes from service, how you are giving service to your clients will affect the business. If yow are such a person that you have no query pending in your tray, I am sure that if there is a need of any such thing that you are working for the client always remember your name or may be possible that for such a relative think you must receive a call. And to create such a impactful scenerio there must need need of analysing the problem and accessing them at the earliest as possible. And yes i want to grow myself at such a level that create a success story fo both me and my organisation.

Also if take into consideration of our EDA project i.e. Airbnb so if I'll be the part of this my objective is to create a world where anyone can belong anywhere, and it reflects the company's commitment to providing an end-to-end travel platform that handles every aspect of a customer's trip.

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required.
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits.
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule.

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

We mainly have four libraries that helps in evaluating this Exploratory Data Analysis Project(EDA)
1. PANDAS :- Pandas is a Python library used for working with data sets. It has functions for analyzing, cleaning, exploring, and manipulating data.
2. NUMPY :- NumPy is a Python library used for working with arrays. It also has functions for working in domain of linear algebra, fourier transform, and matrices.
3. MATPLOTLIB :- Matplotlib is a cross-platform, data visualization and graphical plotting library (histograms, scatter plots, bar charts, etc) for Python and its numerical extension NumPy. As such, it offers a viable open source alternative to MATLAB.18-Apr-2023
4. SEABORN :- Seaborn is a library for making statistical graphics in Python. It builds on top of matplotlib and integrates closely with pandas data structures. Seaborn helps you explore and understand your data.

### Dataset Loading

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Hear we are importing our google drive to the notebook the very simple step to do this is just go to the files->Mount Drive

In [ ]:
# Load Dataset
df = pd.read_csv('/content/drive/MyDrive/Projecs at almabetter/Airbnb NYC 2019.csv')

Here we are taking the path from our google drive on which we have already uploaded a dataset that is in the Comma Seperated Values(CSV) format and reads the data into a Pandas DataFrame object using the alias of pandas i.e. pd.

### Dataset First View

While starting with a dataset we first look up what all our dataset have so we just use .head() method of our pandas which returns us a specified number of rows, string from the top. The head() method returns the first 5 rows if a number is not specified.

In [ ]:
# Dataset First Look
df.head(5)

* The tail() method returns a specified number of last rows. The tail() method returns the last 5 rows if a number is not specified.

In [ ]:
df.tail()

So in this first look of our dataset we visualize that what all our dataset have in it, it is having a detail of Airbnb which is having columns like id, name, etc which all we will see in below analysis, also by looking at first we can say our dataset have some missing values in some of the columns that all we see while proceeding further with the analysis. let's quickly go through

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
df.shape

* The DataFrame. shape attribute in Pandas enables us to obtain the shape of a DataFrame.Here DataFrame has a shape of (48895, 16) , this implies that the DataFrame is made up of 48895 rows and 16 columns of data.

### Dataset Information

For Dataset Information we have a function in our pandas dataframe .info() that allows us to learn the shape of object types of our data. .info() will give a clear and a concise picture of our dataset that includes rangeindex, Data columns, Datatype, Non-Null count, etc. RangeIndex is a memory-saving special case of an Index limited to representing monotonic ranges with a 64-bit dtype. Using RangeIndex may in some instances improve computing speed. This is the default index type used by DataFrame and Series when no explicit index is provided by the user. Data columns will gave the count of columns we have. Non-Null Count will gave us that the particular column have how many non null values. at the last .info() provides us the datatype of the particular column for all the columns we have in our dataframe.

In [ ]:
# Dataset Info
df.info()

As we can see in the output, the summary includes list of all columns with their data types and the number of non-null values in each column. By simply looking at our dataset we can say that we have three columns which are having a datatype of float64, seven columns which are having a datatype of int64 and six columns which are having a datatype object. let's describe these datatypes as well
![image.png]()

#### Duplicate Values

You can count duplicates in pandas DataFrame by using DataFrame. pivot_table() function. This function counts the number of duplicate entries in a single column, multiple columns, and count duplicates when having NaN values in the DataFrame.

The duplicated() method returns a Series with True and False values that describe which rows in the DataFrame are duplicated and not. Use the subset parameter to specify if any columns should not be considered when looking for duplicates.The number of True can be counted with sum() method. If you want to count the number of False (= the number of non-duplicate rows), you can invert it with negation ~ and then count True with sum() .

In [ ]:
# Dataset Duplicate Value Count
dup1 = df.duplicated(subset=['room_type']).sum()
dup1

In [ ]:
df3 = df.pivot_table(index = ['room_type'], aggfunc ='size')
df3

In [ ]:
df2 = df.pivot_table(index = ['neighbourhood_group'], aggfunc ='size')
df2

In [ ]:
df4 = df.pivot_table(index = ['minimum_nights', 'availability_365'], aggfunc ='size')
df4

So here in this piece of code we are using both fucntion that we have for duplicates values count. let's discuss what we have in room type column so in room type we have only three categories i.e. Entire home/apt, Private room, shared room so rest we have duplicates of these thus for Entire home/apt we have 25409 duplicates value, for private rooms we have 22326 duplicate values and for shared room we have 1160 duplicates entry like wise we can check for rest of columns as well that i have shown above.

#### Missing Values/Null Values

For the very first look of missing or null values we use .isnull() function along with .sum() in pandas to know the count of null values from all the columns we have in our database.

In [ ]:
# Missing Values/Null Values Count
df.isnull().sum()

Thus on looking at this function we could say that we have only 4 columns that have a null values that are name, host_name, last_revies and reviews_per_month.
In our case, missing data that is observed does not need too much special treatment. Looking into the nature of our dataset we can state further things: columns "name" and "host_name" are irrelevant and insignificant to our data analysis, columns "last_review" and "review_per_month" need very simple handling. To elaborate, "last_review" is date; if there were no reviews for the listing - date simply will not exist. In our case, this column is irrelevant and insignificant therefore appending those values is not needed. For "review_per_month" column we can simply append it with 0.0 for missing values; we can see that in "number_of_review" that column will have a 0, therefore following this logic with 0 total reviews there will be 0.0 rate of reviews per month. Therefore, let's proceed with removing columns that are not important and handling of missing data.

* dropping columns that are not significant or could be unethical to use for our future data exploration and predictions

In [ ]:
# Visualizing the missing values
df.drop(['id','host_name','last_review'], axis=1, inplace=True)
df.fillna({'reviews_per_month':0}, inplace=True)
df.isnull().sum()

In this tutorial, you’ll learn how to use panda’s DataFrame dropna() function.

NA values are “Not Available”. This can apply to Null, None, pandas.NaT, or numpy.nan. Using dropna() will drop the rows and columns with these values. This can be beneficial to provide you with only valid data.

By default, this function returns a new DataFrame and the source DataFrame remains unchanged.

dropna() takes the following parameters:

 **Basic Syntax**

**dropna(self, axis=0, how="any", thresh=None, subset=None, inplace=False)**

* axis: {0 (or 'index'), 1 (or 'columns')}, default 0
* If 0, drop rows with missing values.
* If 1, drop columns with missing values.
* how: {'any', 'all'}, default 'any'
* If 'any', drop the row or column if any of the values is NA.
* If 'all', drop the row or column if all of the values are NA.
* thresh: (optional) an int value to specify the threshold for the drop operation.
* subset: (optional) column label or sequence of labels to specify rows or columns.
* inplace: (optional) a bool value.
* If True, the source DataFrame is changed and None is returned.

Please note that we are dropping 'host_name' not only because it is insignificant but also for ethical reasons. There should be no reasoning to continue data exploration and model training (which we will be doing later) towards specific individuals based on their names. Why is that? Those names are assigned to actual humans, also they present no security threat or military/governmental interest based on the nature of the dataset, therefore names are unimportant to us.

### What did you know about your dataset?

Till now we have checked that what are the shape of our dataset, which all are the duplictes values we have in our dataset, how many null values we have in  our dataset and after looking on all of these we have find that we have 48895 Rows and 16 Columns in our dataset in which we have 4 columns that cpontains null values. Now let's further look up our dataset :-

 We will skip first column for now and begin from host_id. let's see what hosts (IDs) have the most listings on Airbnb platform and taking advantage of this service.

In [ ]:
df.host_id.value_counts().head()

With this analysis we find that we have 327 count who is having a host_id of 219517861 i.e. highest amoung the all followed by 107434423 with a value count 232 and so on.

In [ ]:
df.minimum_nights.value_counts().head()

With this analysis we find that we have 12720 count who is having a minimum nights stay of 1 i.e. highest amoung the all followed by 11696 i.e. for 2 night stay and we listed the top five for the data frame.

In [ ]:
data = df.groupby('neighbourhood_group')['price'].sum()
data

Here in this analaysis we are using a groupby function of pandas, Groupby is a pretty simple concept. We can create a grouping of categories and apply a function to the categories. It’s a simple concept but it’s an extremely valuable technique that’s widely used in data science. In real data science projects, you’ll be dealing with large amounts of data and trying things over and over, so for efficiency, we use Groupby concept. Groupby concept is really important because it’s ability to aggregate data efficiently, both in performance and the amount code is magnificent. Groupby mainly refers to a process involving one or more of the following steps they are:

* **Splitting** : It is a process in which we split data into group by applying some conditions on datasets.
* **Applying** : It is a process in which we apply a function to each group independently
* **Combining** : It is a process in which we combine different datasets after applying groupby and results into a data structure

In this piece of code we applied a groupby on neighbourhood_group along with a sum function on price so what does this piece of code doing. It is first grouped our data based on neighbourhood group in which we found five groups named Bronx, Brooklyn, Manhattan, Queens and Staten Island and then we apply a sum fuction on this grouped data thus we find that for Bronx we have a total price of 95459 and so on as shown in above code analysis.

## ***2. Understanding Your Variables***

Now let us understand what all Variables we have for this data set for the better understanding of all Variables let's start

In [ ]:
# Dataset Columns
df.columns

Firstly we use .columns function of pandas which gave us that what all columns we have in our data set

In [ ]:
# Dataset Describe
df.describe()

The describe() method returns description of the data in the DataFrame.

If the DataFrame contains numerical data, the description contains these information for each column:

* count - The number of not-empty values.
* mean - The average (mean) value.
* std - The standard deviation.
* min - the minimum value.
* 25% - The 25% percentile*.
* 50% - The 50% percentile*.
* 75% - The 75% percentile*.
* max - the maximum value.

Percentile meaning: how many of the values are less than the given percentile. Read more about percentiles in our Machine Learning Percentile chapter.

### Variables Description


![image.png]()

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
df['neighbourhood_group'].unique()

In [ ]:
df.room_type.unique()

By Looking at our dataframe we can say we have only two columns that may have duplicates entries or which considered much i.e. neighbourhood_group and room_type. Now, by looking on these fuction we can say we only have 5 types of neighbourhood_group i.e. Brooklyn, Manhattan, Queens, Staten Island and Bronx. And in our dataset we have only three categroies in room_type i.e. Private room, Entire home/apt, Shared room.

* The unique function in pandas is used to find the unique values from a series. A series is a single column of a data frame. We can use the unique function on any possible set of elements in Python.

## 3. ***Data Wrangling***

### Data Wrangling Code

Data wrangling, also known as data munging or data cleaning, is the process of transforming and cleaning messy data into a format that's suitable for analysis.

**There are two central concepts which you should know about:**
* **Series**: A series is essentially a column
* **Data Frame**: A DataFrame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

**Basic Inspection of a dataframe that are a part of data wrangling that we have already discussed above is:**
1. head(n):- Prints the first n rows of the dataframe. By default it prints the first 5 rows.
2. tail(n):- Prints the last n rows of the dataframe. By default it prints the last 5 rows.
3. columns:- Prints the list of columns in a dataframe.
4. info():- Prints the basic information about our dataframe.
5. rename():- Rename the columns of the dataframe.
6. describe():- The describe method in Pandas is like having a personal statistician for your dataset! It provides a summary of the most important information, including the count, mean, standard deviation, minimum, maximum, and percentiles. All this without having to do any math yourself! Plus, it automatically excludes any NaN values so you don't have to worry about them. This makes it a great tool for getting a quick and comprehensive overview of your data's distribution, spotting any outliers or patterns, and making informed decisions.
7. sort_values():- Sorts values in either an ascending or descending order.

Till now we have not taken into concentration sort_values let's look upon this function:-

In [ ]:
# Write your code to make your dataset analysis ready.
most_reviews = df.sort_values('number_of_reviews', ascending=False).head(5)
most_reviews

In [ ]:
availability = df.sort_values('availability_365', ascending=False).head(5)
availability

In [ ]:
Price = df.sort_values('price', ascending=False).head(5)
Price

### **Question** Where most of the host focused tpo own propriety.

In [ ]:
number_of_host_per_loc = df.groupby('neighbourhood_group')['host_id'].count()
number_of_host_per_loc

Manhatten is the most focused place for the host to do their business.

### What all manipulations have you done and insights you found?

If we talk about manipulation that we have done, so in this data set we have done manipulation on shape, columns,info, minium nights count, duplicates, Null Values,unique values,etc. where we found that we have 48895 Rows and 16 COlumns in our dataset, in the info function we have checked about all the datatypes we have u=in our columns of dataset that we found perfect, next we saw minimum nights values count where we found that most of the stays allow for 1 day, then we count some duplicate, null values and uniwue values that we have discussed above.

Apart from the Basic inspection on a dataframe that we have discussed above we have made some more inspection here and we found that a private room from the Queens neighbourhood group named Room near JFK Queen Bed is review mostly i.e. 629 time and if we look up into the availabilty option it is availabe for 333 days out of 365 days, rather we have some stays that are available for 365 days that we have shown in our second concideration.In our third concideration we have seen that the highest price amoung the all is 10000 followed by 9999.

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

Before going to visualization let us understand some widely used terminologies of visualization
* The figure() function in pyplot module of matplotlib library is used to create a new figure.
* The figsize() attribute can be used when you want to change the default size of a specific plot.
* The title() method in matplotlib module is used to specify title of the visualization depicted and displays the title using various attributes.
* The xlabel() function in pyplot module of matplotlib library is used to set the label for the x-axis.
* The ylabel() function in pyplot module of matplotlib library is used to set the label for the y-axis.
* The xlim() function in pyplot module of matplotlib library is used to get or set the x-limits of the current axes.
* The ylim() is a function in the Pyplot module of the Matplotlib library which is used to get or set the y-limits of the current axes.

#### Chart - 1

In [ ]:
# Chart - 1 visualization code
plt.figure(figsize=(13,7))
plt.title("Neighbourhood Group")
g = plt.pie(df.neighbourhood_group.value_counts(), labels=df.neighbourhood_group.value_counts().index,autopct='%1.1f%%', startangle=180)
plt.show()

##### 1. Why did you pick the specific chart?

A pie chart helps organize and show data as a percentage of a whole. True to the name, this kind of visualization uses a circle to represent the whole, and slices of that circle, or “pie”, to represent the specific categories that compose the whole.Here in this analysis of Neighbour hood group we want to know that how much percent of each group occupy that's why we have choosen pie chart.

##### 2. What is/are the insight(s) found from the chart?

While Looking at a chart we found that the highest amoung the all is occupied by Manhattan i.e. 44.3% followed by Brooklyn i.e. 41.1%, rest other occupied only a small portion i.e. 11.6% in Queens, 2.2% in Bronx and 0.8% in Staten Island.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

If we talk about the business Perspective we must say that most positive business if from two neighbourhood groups that are Manhatten and Brooklyn that has the most impactfull stays amoung the others.

#### Chart - 2

In [ ]:
# Chart - 2 visualization code
plt.scatter(df['neighbourhood_group'], df['number_of_reviews'])
plt.xlabel('Neighbourhood Groups')
plt.ylabel('Number of reviews')
plt.title('Neighbourhood Groups vs. Number of reviews')
plt.show()

##### 1. Why did you pick the specific chart?

The plt.scatter() function generates a scatter plot by taking in two arrays of data, one for each axis of the plot. Here , the x-axis represents Neighbourhood group and the y-axis represents Number of reviews. Each data point is plotted as a point on the graph, with the x and y values determining its position. We are using Scatter plot to visualize the to relationships between variables.

##### 2. What is/are the insight(s) found from the chart?

Here in this visualization we found that Manhatten and Queens are the neighbourhood groups that are having quiet high reviews thats around 500 for both so we can say that when someone will look upon this analysis we can say they preffer the most from these as now days people look upon the best and that can only be defined by top reviews.
on the other hand staten Island and Bronx have the least review amoung all.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Yes, as gone through the visualization we have found the relationship between neighbourhood group and reviews there we saw a strong positive relationship for Manhetten and Queens so the people like the most of the stays from these two neighbourhood groups.

#### Chart - 3

In [ ]:
# Chart - 3 visualization code
#plt.figure(figsize=(13,7))
plt.title("Neighbourhood Group vs. Availability Room")
sb.boxplot(data=df, x='neighbourhood_group',y='availability_365',palette="dark")
plt.show()

##### 1. Why did you pick the specific chart?

Pandas DataFrame boxplot() function is used to make a box plot from the given DataFrame columns. Boxplot is also called a Whisker plot that helps us better understand by providing the range of values in your data set and identifying any outliers in a format that's easier to understand than the raw data.
Boxplots help you better understand the range of values in your data set and identify any outliers in a format that's easier to understand than the raw data.Here in this analysis we need to check the range of availabilty amoung the different neighbourhood groups thus we use Box Plot here.

##### 2. What is/are the insight(s) found from the chart?

From the boxplot above, we can definitely observe a couple of things about the distribution of prices for Airbnb in NYC.

1. We can state that Staten Island has the highest range of availabilty for the listings with about 225 count as an average, followed by Bronx with 150 Counts
2. Brooklyn and Manhattan seem to have a very similar distribution,
3. Queens is somewhat between these two

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

If we talk about the insight gained here, we found that we are having a least availability in the most demanding neighbourhood groups i.e. Manhatten and Brooklyn that have a postive business but at same time may have negativity as this are the top demanding but availity mattera thus if a person wishes to stay in these groups may have to wait or go for others.

#### Chart - 4

In [ ]:
# Chart - 4 visualization code
chart_4 =df.loc[df['neighbourhood'].isin(['Williamsburg','Bedford-Stuyvesant','Harlem','Bushwick',
                 'Upper West Side','Hell\'s Kitchen','East Village','Upper East Side','Crown Heights','Midtown'])]
viz_3 =sb.catplot(x='neighbourhood', hue='neighbourhood_group', col='room_type', data=chart_4, kind='count')
viz_3.set_xticklabels(rotation=90)

##### 1. Why did you pick the specific chart?

catplot() method is used to plot categorical plots. With the use of one of many visual representations, this function gives users access to a number of axes-level functions that illustrate the connection between numerical data and one or more category variables.Here we need to analyse categorical data thats why we choosen for the Catplot.

##### 2. What is/are the insight(s) found from the chart?

Here in this analysis we apply count on room type for different neighbourood of the neighbourhood group Manhatten and Broklyn and insight we found that Entire home/apt and private rooms have a count of towers for different neighbourhood while we observe a very few neighbourhood counts on shared rooms. It means that te most of te people like to stay on Entire home/apt and private rooms. In this analysis we observe that there is a similar distribution of count for Manhatten on neighbourhood for Entire Home/apt rather it has some hick for Brooklyn. Also the neighbourhood with private rooms have the highest count amoung the all.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Neighbourhood with private rooms crate a positive picture as it has a highest count amoung the all on the other hand shared rooms is not much considered amoung the group and thus creating a negative impact with respect to the growth.

#### Chart - 5 - Correlation Heatmap

In [ ]:
# Correlation Heatmap visualization code
corr = df.corr(method='kendall')
plt.figure(figsize=(13,10))
plt.title("Correlation Between Different Variables\n")
sb.heatmap(corr, annot=True)
plt.show()

##### 1. Why did you pick the specific chart?

Heatmaps visualize the data in a 2-dimensional format in the form of colored maps. The color maps use hue, saturation, or luminance to achieve color variation to display various details. This color variation gives visual cues to the readers about the magnitude of numeric values. HeatMaps is about replacing numbers with colors because the human brain understands visuals better than numbers, text, or any written data. Human beings are visual learners; therefore, visualizing the data in any form makes more sense. Heatmaps represent data in an easy-to-understand manner. Thus visualizing methods like HeatMaps have become popular.
* hue : (optional) This parameter take column name for colour encoding.
* data : (optional) This parameter take DataFrame, array, or list of arrays, Dataset for plotting. If x and y are absent, this is interpreted as wide-form.

##### 2. What is/are the insight(s) found from the chart?

There’s correlation among host_id to reveiws_per_month & availability_365 (sequential color bar is used between value and color). Also there’s noticiable correlation between min_nights, no_of_listings_count & availability_365. Price also shows some correlation with availability_365 & host_listings_count.

no_of_reviews and reviews_per_month gives almost the same information. so we can carry out analysis with any of the two variable. Also, no_of_reviews is correlated to availability_365!

## **5. Solution to Business Objective**

#### What do you suggest the client to achieve Business Objective ?
Explain Briefly.

First of all I need to say that to acheive any business object we must need to have a great analysing skill as that help anyone to observe what is the problem, after analysing the problem the next step is to how smartly we are accessing them and deal with them. Basically I need to say that analysing, accessing and dealing with the situation will creat a possitive Business impact. Now we talk about this whole analysis we can say that Manhatten and Broklyn is the neighbourhood that are much considered amoung the others so their needs to see on others group as well with creating some offers and extra previllages it may have some boost on others as well. Also I need to say that Business Object is something thats fully depend on service as people now days considering service that they receive rather considering price they consider it most.

# **Conclusion**

This Airbnb ('AB_NYC_2019') dataset for the 2019 year appeared to be a very rich dataset with a variety of columns that allowed us to do deep data exploration on each significant column presented. First, we have found hosts that take good advantage of the Airbnb platform and provide the most listings; we found that our top host has 327 listings. After that, we proceeded with analyzing boroughs and neighborhood listing densities and what areas were more popular than another. Next, we put good use of our latitude and longitude columns and used to create a geographical heatmap color-coded by the price of listings. Further, we came back to the first column with name strings and had to do a bit more coding to parse each title and analyze existing trends on how listings are named as well as what was the count for the most used words by hosts. Lastly, we found the most reviewed listings and analyzed some additional attributes. For our data exploration purposes, it also would be nice to have couple additional features, such as positive and negative numeric (0-5 stars) reviews or 0-5 star average review for each listing; addition of these features would help to determine the best-reviewed hosts for NYC along with 'number_of_review' column that is provided. Overall, we discovered a very good number of interesting relationships between features and explained each step of the process. This data analytics is very much mimicked on a higher level on Airbnb Data/Machine Learning team for better business decisions, control over the platform, marketing initiatives, implementation of new features and much more. Therefore, I hope this kernel helps everyone!

### ***Hurrah! You have successfully completed your EDA Capstone Project !!!***